:host {
    display: flex;
    flex-direction: column;
    height: calc(100% - var(--topnav-height));
    width: 100%;
    background-color: var(--primary-bg-color);
    box-shadow: var(--primary-box-shadow);
    border-top-left-radius: 4px;
    padding: 10px;
    max-width: 1200px;
}
