:host {
    flex: 1;
    flex-direction: column;
    height: calc(100% - var(--topnav-height));
    width: 100%;
    background-color: var(--secondary-bg-color);
    box-shadow: var(--primary-box-shadow);
    padding: 10px;
    max-width: 60vw;
    border: var(--primary-border);
}
