<div class="flex-row">
  <app-radial-voter [article]="article"></app-radial-voter>
  <div class="flex-col">
    <h4>
      <a (click)="goToArticle()"
        class="span">{{ article.title }}</a>
    </h4>
    <div class="flex-row flex-row-bottom">
      <span>
        From
        <a class="span">{{ article.publisher.name }}</a>
      </span>
      <span class="flex-child-right">
        By
        <a (click)="goToAuthor()"
          class="span">{{ article.author.firstName }} {{ article.author.lastName }}</a>
      </span>
    </div>
  </div>
</div>