:host {
    border: var(--primary-border);
    display: flex;
    margin-bottom: 10px;
    padding: 4px;
    /* border-radius: 4px; */
    box-shadow: var(--primary-box-shadow);
    padding: 15px;
}

:host:hover {
    background-color: var(--primary-bg-color);
    cursor: pointer;
}
