<div class="radial-voter">
  <app-radial-pin size="100" radians="0" [ngStyle]="{'top': '50px', 'left': '50px'}"></app-radial-pin>
  <app-radial-pin size="100" radians="0.78" [ngStyle]="{'top': '50px', 'left': '50px'}"></app-radial-pin>
  <app-radial-pin size="100" radians="1.57" [ngStyle]="{'top': '50px', 'left': '50px'}"></app-radial-pin>
  <app-radial-pin size="100" radians="2.34" [ngStyle]="{'top': '50px', 'left': '50px'}"></app-radial-pin>
  <app-radial-pin size="100" radians="3.14" [ngStyle]="{'top': '50px', 'left': '50px'}"></app-radial-pin>
  <app-radial-pin size="100" radians="3.90" [ngStyle]="{'top': '50px', 'left': '50px'}"></app-radial-pin>
  <app-radial-pin size="100" radians="4.68" [ngStyle]="{'top': '50px', 'left': '50px'}"></app-radial-pin>
  <app-radial-pin size="100" radians="5.46" [ngStyle]="{'top': '50px', 'left': '50px'}"></app-radial-pin>
</div>