.app-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.app-body-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    z-index: -2;
}

app-topnav,
app-body {
    width: 100%;
    background-color: var(--bg-color);
}

app-sidenav {
    width: 100px;
}

app-topnav,
app-sidenav {
    background-color: var(--blue);
    z-index: -1;
}

app-body {
    box-shadow: 0px 0px 10px var(--dark-blue);
    z-index: 1;
}

@media only screen and (max-width: 768px) {
    app-topnav {
        display: none;
    }

    app-sidenav {
        position: fixed;
        height: 100px;
        width: 100px;
        bottom: 20px;
        left: 20px;
        z-index: 2;
    }
}