:host {
    height: var(--topnav-height);
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-right: 15px;
    color: white;
    font-variant: small-caps;
}

.newsskew:hover,
.newsskew:active {
    transition: letter-spacing 150ms ease;
    letter-spacing: 0.1em;
}