/* You can add global styles to this file, and also import other style files */

:root {
    /* Colors */
    --red: #DB5461;
    --purple: rgb(160, 81, 250);
    --deep-purple: #0D0630;
    --light-blue: rgb(31, 81, 231);
    --deep-koamaru: #2B4162;
    --space-cadet: #18314F;
    --queen-blue: #3C6997;
    --blue: rgba(0, 45, 179);
    --dark-blue: #00134d;
    --grey: #484848;
    --light-grey: #ababab;
    --dark-grey: #242424;
    --eggshell: #f9f9f9;
    --babypowder: #FFFFFA;

   /* Background Colors */ 
   --primary-bg-color: var(--space-cadet);
   --secondary-bg-color: var(--deep-koamaru);
   --tertiary-bg-color: var(--space-cadet);

    /* Text */
    --dark-text: var(--grey);
    --primary-text-color: var(--babypowder);
    --a-color: var(--primary-text-color);

    /* Box Shadows */
    --primary-box-shadow: 0 0 4px 1px transparent;

    /* Borders */
    --primary-border-color: var(--queen-blue);
    --primary-border: 1px solid var(--primary-border-color);

    /* Breakpoints */
    --lg-bp: 1200px;
    --md-bp: 900px;
    --sm-bp: 768px;
    --xs-bp: 400px;

    /* Heights */
    --topnav-height: 100px;
    --sidenav-width: 100px;
}

* {
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
}

body {
    margin: 0;
    font-family: 'Bitter', serif;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    border: var(--primary-border);
}

a {
    color: var(--a-color);
    text-decoration: none;
    cursor: pointer;
    transition: color 150ms ease;
}

a:hover,
a:active {
    color: var(--red);
}

a:active {
    outline: 1px solid var(--red);
    -moz-outline-radius: 4px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bitter', serif;
}

/* Generic Classes */
.newsskew {
    font-variant: small-caps;
    color: white;
    text-shadow: 1px 2px black;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
}

.flex-row-bottom {
    align-items: flex-end;
}

.flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
}

.flex-child-right {
    margin-left: auto;
}