/* You can add global styles to this file, and also import other style files */

:root {
    /* Colors */
    --purple: rgb(160, 81, 250);
    --light-blue: rgb(31, 81, 231);
    --blue: rgba(0, 45, 179);
    --dark-blue: #00134d;
    --grey: #484848;
    --light-grey: #ababab;
    --dark-grey: #242424;
    --eggshell: #f9f9f9;

   /* Background Colors */ 
   --primary-bg-color: var(--eggshell);

    /* Text */
    --dark-text: var(--grey);

    /* Box Shadows */
    --primary-box-shadow: 0 0 4px 1px var(--light-grey);

    /* Borders */
    --primary-border-color: var(--light-grey);
    --primary-border: 1px solid var(--primary-border-color);

    /* Breakpoints */
    --md-bp: 900px;
    --sm-bp: 768px;
    --xs-bp: 400px;

    /* Heights */
    --topnav-height: 100px;
    --sidenav-width: 100px;
}

* {
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
}

body {
    margin: 0;
    background-color: var(--blue);
    font-family: 'Bitter', serif;
}

a {
    color: var(--light-blue);
    text-decoration: none;
    cursor: pointer;
    transition: color 150ms ease;
}

a:hover,
a:active {
    color: var(--purple);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bitter', serif;
}

/* Generic Classes */
.newsskew {
    font-variant: small-caps;
    color: white;
    text-shadow: 1px 2px black;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
}

.flex-row-bottom {
    align-items: flex-end;
}

.flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
}

.flex-child-right {
    margin-left: auto;
}